---
layout: post
title:  "Habanero Phaser formalization"
date:   2016-12-27 23:34:56 +0530
use_cg: true
---


<p>The following two operations are translated directly from our Coq formalization.</p>

<ul>
<li><code>hj.run(op,ph)</code> performs a reduction step by applying operation <code>op</code> to phaser state <code>ph</code>. The function returns the new state or throws an exception if it cannot reduce.</li>
<li><code>hj.hb(ph1,ph2)</code> checks phaser <code>ph1</code> happens-before phaser <code>ph1</code>.</li>
</ul>

<p><strong>Example 1:</strong> In the following example we exercise our definitions and show the a phaser state.
The widget below is a Javascript
<a href="https://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop">REPL</a>; input a Javascript expression to interact with the widget.</p>
<figure class="highlight">
<div id="sandbox" class="sandbox">sandbox loading...</div>
</figure>

<h1>Vizualize the happens-before on a trace</h1>

<p>Input trace:</p>

<figure class="highlight">
<textarea id="trace_in" onkeyup="update_graph()">
// Example of a trace
[
  wait(1), // most recent
  signal(3),
  wait(1),
  wait(3),
  signal(3),
  drop(2),
  reg(2, {dst:1, mode:WO}),
  reg(2, {dst:3, mode:SW}), // first operation
]
</textarea>
</figure>

<p>Visualize the phase-ordering relation:</p>

<figure class="highlight">
<div id="graph_out" />
</figure>

<p>We provide the following functions to handle a trace:</p>
<ul>
<li><code>trace()</code> returns the trace from the input text box.</code></li>
<li><code>hj.run_trace(t)</code> returns a phaser state from a given trace <code>t</code>.</li>
<li><code>hj.render_graph(t)</code> renders trace <code>t</code> in the visualization widget.</li>
</ul>
<p>


<p><strong>Example 2:</strong> comparing any state of the trace.</p>


<figure class="highlight">
<div id="sandbox-2" class="sandbox">sandbox loading...</div>
</figure>




<!-- The sandbox template -->
<script type="text/template" id="tplSandbox">
	<pre class="output"></pre>
	<div class="input">
		<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
	</div>
</script>

<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><span class="prefix">&gt;&gt;&gt;</span> <%= command %></span>
<span class="<%= _class %>"><%= result %></span>
<% } %></script>

<script src="{{site.baseurl}}/javascript-sandbox-console/src/libs/underscore.min.js"></script>
<script src="{{site.baseurl}}/javascript-sandbox-console/src/libs/backbone.min.js"></script>
<script src="{{site.baseurl}}/javascript-sandbox-console/src/libs/backbone-localStorage.min.js"></script><!-- opt -->
<script src="{{site.baseurl}}/javascript-sandbox-console/src/libs/jquery.min.js"></script>

<script src="{{site.baseurl}}/javascript-sandbox-console/src/sandbox-console.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Create the sandbox:
		window.sandbox1 = new Sandbox.View({
			el : $('#sandbox'),
			model : new Sandbox.Model()
		});
		window.sandbox1.addCode("// Create a phaser with two task, both on phase 0\nvar p1 = {1: {sp:0,wp:0,mode:SW}, 2:{sp:0,wp:0,mode:SW}}; p1");
		window.sandbox1.addCode("// First, task 1 signals\nvar p2 = hj.run(signal(1), p1); p2");
		window.sandbox1.addCode("// Then, task 2 signals\nvar p3 = hj.run(signal(2), p2); p3");
		window.sandbox1.addCode("// Finally, task 1 waited\nvar p4 = hj.run(wait(2), p3); p4");
		window.sandbox1.addCode("hj.hb(p1,p2); // Phaser ph1 does not happen before ph2");
		window.sandbox1.addCode("hj.hb(p1,p4); // Yet, phaser p1 precedes the wait that results in p4");
		window.sandbox1.addCode("hj.run(wait(1), p1); // Task 1 cannot reduce at state p1");

		window.sandbox2 = new Sandbox.View({
			el : $('#sandbox-2'),
			model : new Sandbox.Model()
		});
		window.sandbox2.addCode("// Use Javascript's `splice` to select a portion of the trace\nstateAt");
		window.sandbox2.addCode("// We can now get the state of the phaser after the first operation\nstateAt(1)");
		window.sandbox2.addCode("hj.hb(stateAt(1), hj.run_trace(trace()))");
	});
</script>

