---
layout: none
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  <link href="{{site.baseurl}}/css/vis.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{site.baseurl}}/js/vis.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/hj.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" />
  
  <link href="{{site.baseurl}}/javascript-sandbox-console/src/sandbox.css" rel="stylesheet"/>
</head>

 <body style="background-color: rgb(255, 255, 255)">
 <script src="{{site.baseurl}}/js/cstruct.js"></script>
 <script src="{{site.baseurl}}/js/theme.min.js"></script>

 <script type="text/javascript">
    var OPTS = {
      edges: {
        width: 2,
        smooth: {
          type: 'vertical'
        },
        shadow: true
      },
      nodes : {
        shape: 'dot',
        size: 10,
        shadow: true,
        font: {face:'Droid Sans Mono', size: 15, strokeWidth:5, strokeColor:'#ffffff'}
      },
      layout: {
        randomSeed: 0
      },
      physics: {
        enabled: false
      },
      interaction: {
        zoomView: false
      }
    };
    var lastTrace = [];

    function update_graph() {
        render_graph(trace());
    }

    function render_graph(trace) {
        try {
            if (trace != lastTrace) {
                lastTrace = trace;
                var out = document.getElementById('graph_out');
                new vis.Network(out, hj.graph(lastTrace), OPTS);
            }
        } catch (e) {
            console.log(e);
        }
        return false;
    }
    window.onload = update_graph;
    
    function wait(task) {
        return {src:task, op:{name: "wait"}};
    }
    function signal(task) {
        return {src:task, op:{name: "signal"}};
    }
    function drop(task) {
        return {src:task, op:{name: "drop"}};
    }
    var WO = "WO";
    var SW = "SW";
    var SO = "SO";
    function reg(task, r) {
        return {src:task, op:{name:"reg", dst:r.dst, mode:r.mode}}
    }
    
    function trace() {
        var txt = document.getElementById('trace_in');
        return eval(txt.value);
    }
 </script>
 <script src="{{site.baseurl}}/js/cg.js"></script>
 {% if page.load_cg %}
 <meta name="foo" content="{{page.load_cg}}" />
 {% endif %}
  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
  </header>

  {{ content }}

<footer>

    <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
    </div>
    <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/images/theme.svg)"></div>
</footer>
{% include analytics.html %}

</body>
</html>
